# Creating differents example for sets:

In [1]:
#EX1: Creating different kind of sets::

# set of integers
S = {1, 2, 3}
print(S)

# set of mixed datatypes
s1 = {1.0, "Hello", (1, 2, 3)}
print(s1)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [5]:
#Ex2 : duplicate sets
# Output: {1, 2, 3, 4}
s = {1, 2, 3, 4, 3, 2}
print("The given ",S," string is a Ex2.")

# we can make set from a list
# Output: {1, 2, 3}
s2 = set([1, 2, 3, 2])
print("The given ",s2," string is a Ex2.1.")

# set cannot have mutable items, [3, 4] is a mutable list, this will cause an error.

s2 = {1, 2, [3, 4]} #can't

The given  {1, 2, 3}  string is a Ex2.
The given  {1, 2, 3}  string is a Ex2.1.

TypeError: unhashable type: 'list'

In [8]:
#ex3: empty directory
#Empty curly braces {} will make an empty dictionary in Python. 
##To make a set without any elements, we use the set() function without any argument.

# Distinguish Ex3 set and dictionary while creating empty set

# initialize a with {}
s = {}

# check data type of a
print("The given ",type(s)," string is a Ex3")

# initialize a with set()
s = set()

# check data type of a
print("The given ",type(s)," string is a Ex3.1")

The given  <class 'dict'>  string is a Ex3
The given  <class 'set'>  string is a Ex3.1

## Modifying a set in python

Ex.4.1:
Expriment with Mutable set. Indexing wont work:

Ex 4.2:
We expriment set using indexing or slicing. Set data type does support or not.

Ex 4.3:
We can add a single element using other functions like : the add() method, and multiple elements using the update() method. The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.

In [23]:
s4_1 ={0,-2}
s4_1
s4_1.add(-7) # its adding as per order, lets try with random order!
print(s4_1)
s4_1.add(2) # its adding as per order, lets try with random order!
print(s4_1)
s4_1.add(0) # its adding as per randomorder,Multiple number wont add
print(s4_1)
s4_1.add(4+7j) #adding complex number as per random order, lets try with random order!
print(s4_1)
s4_1.add(78) # its adding as per order, lets try with random order!
print(s4_1)

{0, -7, -2}
{0, -7, 2, -2}
{0, -7, 2, -2}
{0, 2, -7, (4+7j), -2}
{0, 2, 78, -7, (4+7j), -2}

In [26]:
#ex.4.2 : multiple commands
# add multiple elements
# Output: {1, 2, 3, 4}
s4_2 ={0, 2, 78, -7, (4+7j), -2}

s4_2.update([2, 3, 4])
print(s4_2) #[2,3,4] used into existing {0,2,_ _ _ 78,-7,(4+7j), -2} , filld into _

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
s4_2.update([4, 5], {1, 6, 8})
# now update [4,5]: is using list, {1,6,8}: as truple, 1 wont repeat, , nor 6, 
print(s4_2)

#adding multiple list n truple
s4_2.update([-3, 5], [87,3])
print(s4_2)

{0, 2, 3, 4, 78, -7, (4+7j), -2}
{0, 1, 2, 3, 4, 5, 6, 8, 78, -7, (4+7j), -2}
{0, 1, 2, 3, 4, 5, 6, 8, 78, 87, -7, (4+7j), -3, -2}

In [27]:
s4_2 ={0, 2, 78, -7, (4+7j), -2}
s4_2.update([-3, 5], [87,3]) #-3 will go before, -2,87 goes after 78 beofre -7, all order remaing same
print(s4_2) #-3 goes just before -2, 5 goes after 2,3

{0, 2, 3, 5, 78, 87, -7, (4+7j), -3, -2}

In [28]:
s4_2 ={0, 2, 78, -7, (4+7j), -2}
s4_2.update([-3, 5], [7,3]) #-3 will go before, -2,87 goes after 78 beofre -7, all order remaing same
print(s4_2) #-3 goes just before -2, 5 goes after 2,3

{0, 1, 2, 5, 107, 78, -9, -7, (4+7j), -2}

In [29]:
s4_2 ={0, 2, 78, -7, (4+7j), -2}
s4_2.update([-0, -5], [9,-(4+7j)]) #-3 will go before, -2,87 goes after 78 beofre -7, all order remaing same
print(s4_2) #-3 goes just before -2, 5 goes after 2,3

{0, 2, (-4-7j), 9, 78, -7, -5, (4+7j), -2}

## Removing elements from a set

Experiment on set to removed from a set using the methods discard() and remove().

The only difference between the two is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

The following example will illustrate this.#

In [34]:
#ex:5
s= {1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}
print(s)

# discard an element
# Output: {1, 3, 5, 6}
s.discard(4) #discard is acting like concating
print(s)

{0, 1, 2, 3, 4, 5, 6, 200, (5+3j), -3}
{0, 1, 2, 3, 5, 6, 200, (5+3j), -3}

In [35]:
s= {1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}
s.remove(6) # everything remove after index 6,
print(s)

{0, 1, 2, 3, 4, 5, 200, (5+3j), -3}

In [41]:
# discard an element
# not present in my_set

s= {1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}
s.discard(1)
print(s)

{(5+3j), -3, 0, 2, 200, 3, 4, 5, 6}

In [49]:
s= {1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}

s # s= {(5+3j), -3, 0, 1, 2, 200, 3, 4, 5, 6}
s.discard(5) # with , -3} 
## original:s={1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}
## discard2 : {(5+3j), -3, 0, 2, 200, 3, 4, 5, 6}
## discard1 : {0, 2, 3, 4, 5, 6, 200, (5+3j)
## discard4 : {0, 1, 2, 3, 5, 6, 200, (5+3j), -3}                            
## discard5 : {0, 1, 2, 3, 4, 6, 200, (5+3j), -3}
print(s) # new s4 = {0, 2, 3, 4, 5, 6, 200, (5+3j), -3}

{0, 1, 2, 3, 4, 6, 200, (5+3j), -3}

In [58]:
s= {1, 3, 4, 5, 6, 5+3j, -3, 0, 2, 200}
s.remove(6)
print(s)

{0, 1, 2, 3, 4, 5, 200, (5+3j), -3}

In [65]:
#ex5:
# initialize my_set
# Output: set of unique elements
s = set("Learning is good")
print(s)
# pop an element
# Output: random element
print(s.pop())

# pop another element
s.pop()
print(s)

# clear my_set
# Output: set()
s = set("Learning is good")
s.clear()
print(s)

{'d', 'r', 's', 'a', 'o', 'e', 'L', 'n', 'g', ' ', 'i'}
d
{'s', 'a', 'o', 'e', 'L', 'n', 'g', ' ', 'i'}
set()

Similarly, we can remove and return an item using the pop() method.

Since set is an unordered data type, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all the items from a set using the clear() method.

# Python Set Operations


Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

Let us consider the following two sets for the following operations.

Union of A and B is a set of all elements from both sets.

Union is performed using | operator. Same can be accomplished using the union() method.

In [67]:
# Set union method
# initialize A and B
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}

# Using | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
x
y
print(x| y)

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}